<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nanobot">

  <!-- IMU specs -->
  <xacro:property name="imu_x_offset" value="0.004" />
  <xacro:property name="imu_height" value="0.06125" />

  <!-- Links and joints definition -->

  <joint name="imu_joint" type="fixed">
    <parent link="body_link" />
    <child link="imu_link" />
    <origin xyz="${body_x_dim/2 - imu_x_offset} 0 ${imu_height}" rpy="0 0 ${pi/2}" />
  </joint>

  <link name="imu_link" />

</robot>