<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nanobot">

  <xacro:include filename="inertial_macros.xacro" />

  <!-- Body dimensions -->
  <xacro:property name="body_x_dim" value="0.152" />
  <xacro:property name="body_y_dim" value="0.0765" />
  <xacro:property name="body_z_dim" value="0.110" />
  <xacro:property name="body_z_offset" value="0.01425" />

  <!-- Wheel dimensions -->
  <xacro:property name="wheel_radius" value="0.033" /> <!-- 66mm diameter -->
  <xacro:property name="wheel_length" value="0.018" />
  <xacro:property name="wheel_x_offset" value="0.05875" />
  <xacro:property name="wheel_y_offset" value="0.00825" />

  <!-- Robot body and wheel mass -->
  <xacro:property name="body_mass" value="1.146" />
  <xacro:property name="wheel_mass" value="0.028" />

  <!-- Moments of intertia of the wheel -->
  <xacro:macro name="inertia_wheel">
    <xacro:inertial_cylinder mass="${wheel_mass}" length="${wheel_length}"
      radius="${wheel_radius}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertial_cylinder>
  </xacro:macro>

  <!-- Materials -->

  <material name="yellow">
    <color rgba="1 1 0 1" />
  </material>

  <material name="black">
    <color rgba="0 0 0 1" />
  </material>

  <material name="red">
    <color rgba="1 0 0 1" />
  </material>

  <!-- Links and joints definition -->

  <!-- TODO: Enable base footprint  -->
  <!-- Base footprint -->

  <!-- <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0"/>
  </joint>

  <link name="base_footprint"></link> -->

  <!-- Base link -->

  <link name="base_link"></link>

  <!-- Body -->

  <joint name="body_joint" type="fixed">
    <parent link="base_link" />
    <child link="body_link" />
    <origin xyz="0 0 -${body_z_offset}"/>
  </joint>

  <link name="body_link">
    <visual>
      <origin xyz="0 0 ${body_z_dim/2}" rpy="0 0 0" />
      <geometry>
        <box size="${body_x_dim} ${body_y_dim} ${body_z_dim}" />
      </geometry>
      <material name="yellow" />
    </visual>
    <collision>
      <origin xyz="0 0 ${body_z_dim/2}" rpy="0 0 0" />
      <geometry>
        <box size="${body_x_dim} ${body_y_dim} ${body_z_dim}" />
      </geometry>
    </collision>
    <xacro:inertial_box mass="${body_mass}" x="${body_x_dim}" y="${body_y_dim}"
      z="${body_z_dim}">
      <origin xyz="0 0 ${body_z_dim/2}" rpy="0 0 0" />
    </xacro:inertial_box>
  </link>

  <gazebo reference="body_link">
    <material>Gazebo/Yellow</material>
  </gazebo>

  <!-- Front left wheel -->

  <joint name="front_left_wheel_joint" type="continuous">
    <parent link="base_link" />
    <child link="front_left_wheel_link" />
    <origin
      xyz="${wheel_x_offset} ${body_y_dim/2 + wheel_length/2 + wheel_y_offset} 0"
      rpy="-${pi/2} 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="100" />
    <!-- <dynamics damping="1.0" friction="1.0" /> -->
  </joint>

  <link name="front_left_wheel_link">
    <visual>
      <geometry>
        <cylinder length="${wheel_length}" radius="${wheel_radius}" />
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <geometry>
        <sphere radius="${wheel_radius}" />
      </geometry>
    </collision>
    <xacro:inertia_wheel />
  </link>

  <gazebo reference="front_left_wheel_link">
    <material>Gazebo/Black</material>
    <!-- <mu1 value="0.2" />
    <mu2 value="0.2" /> -->
  </gazebo>

  <!-- Front right wheel -->

  <joint name="front_right_wheel_joint" type="continuous">
    <parent link="base_link" />
    <child link="front_right_wheel_link" />
    <origin
      xyz="${wheel_x_offset} -${body_y_dim/2 + wheel_length/2 + wheel_y_offset} 0"
      rpy="${pi/2} 0 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="100" />
    <!-- <dynamics damping="1.0" friction="1.0" /> -->
  </joint>

  <link name="front_right_wheel_link">
    <visual>
      <geometry>
        <cylinder length="${wheel_length}" radius="${wheel_radius}" />
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <geometry>
        <sphere radius="${wheel_radius}" />
      </geometry>
    </collision>
    <xacro:inertia_wheel />
  </link>

  <gazebo reference="front_right_wheel_link">
    <material>Gazebo/Black</material>
    <!-- <mu1 value="0.2" />
    <mu2 value="0.2" /> -->
  </gazebo>

  <!-- Rear left wheel -->

  <joint name="rear_left_wheel_joint" type="continuous">
    <parent link="base_link" />
    <child link="rear_left_wheel_link" />
    <origin
      xyz="-${wheel_x_offset} ${body_y_dim/2 + wheel_length/2 + wheel_y_offset} 0"
      rpy="-${pi/2} 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="100" />
    <!-- <dynamics damping="1.0" friction="1.0" /> -->
  </joint>

  <link name="rear_left_wheel_link">
    <visual>
      <geometry>
        <cylinder length="${wheel_length}" radius="${wheel_radius}" />
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <geometry>
        <sphere radius="${wheel_radius}" />
      </geometry>
    </collision>
    <xacro:inertia_wheel />
  </link>

  <gazebo reference="rear_left_wheel_link">
    <material>Gazebo/Black</material>
    <!-- <mu1 value="0.2" />
    <mu2 value="0.2" /> -->
  </gazebo>

  <!-- Rear right wheel -->

  <joint name="rear_right_wheel_joint" type="continuous">
    <parent link="base_link" />
    <child link="rear_right_wheel_link" />
    <origin
      xyz="-${wheel_x_offset} -${body_y_dim/2 + wheel_length/2 + wheel_y_offset} 0"
      rpy="${pi/2} 0 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="100" />
    <!-- <dynamics damping="1.0" friction="1.0" /> -->
  </joint>

  <link name="rear_right_wheel_link">
    <visual>
      <geometry>
        <cylinder length="${wheel_length}" radius="${wheel_radius}" />
      </geometry>
      <material name="black" />
    </visual>
    <collision>
      <geometry>
        <sphere radius="${wheel_radius}" />
      </geometry>
    </collision>
    <xacro:inertia_wheel />
  </link>

  <gazebo reference="rear_right_wheel_link">
    <material>Gazebo/Black</material>
    <!-- <mu1 value="0.2" />
    <mu2 value="0.2" /> -->
  </gazebo>

</robot>